#header{
    height: 20vh;
    background-color: transparent;
    padding: 10px;
    .col-xs-4, .col-xs-12{
        @media (min-height: 800px){
            width:100%;
        }
    }
    #title{
        text-align: center;
        height: 100%;
        img{
            height: 100%;
            max-width: 100%;
            min-height: 50px;
            max-height: 100px;
        }
        @media (min-height: 800px){
            height:50%;
            width:100%;
        }
    }
}
