#pic_of_me img{
    width: 200px;
}
a{
    text-decoration: none;
    font-size: 18px;
}
#list_of_skills_need_to_make{

}
#header{
    height: 20vh;
    background-color: deepskyblue;
    padding: 5vh;
}
#header div{
    display: inline-block;
}
#title{
    text-align: center;
}
#game-area div{
    display: inline-block;
}
#stats{
    background-color: deepskyblue;
    height: 80vh;
}
.card{
    position: relative;
    width: 150px;
    height: 150px;
}
.front, .back{
    text-align: center;
    position: absolute;
    width: 150px;
    height: 150px;
}
.front img{
    height: 60px;
    position: relative;
    bottom: -60px;
}
.back img{
    height: 150px;
}
.transparent{
    opacity: 0;
}